div.box {
    border: 1px solid #000000;
    padding: 1rem;
    width: 50%;
    box-shadow: #000000 0px 0px 10px;
    cursor: pointer;
}

div.box:hover {
  box-shadow: #2a2a2a 0px 0px 15px;
}

h2 {
    text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

th {
  background-color: #3f4347;
  color: white;
  padding: 12px;
}

td {
  padding: 10px;
  border-bottom: 1px solid #e0e0e0;
}

tr:hover {
  background-color: #2f2f2f;
}